/* this is the user stylesheet for Web Stocks */
.stockList {
	-webkit-border-radius: 5px !important;
	background: url('../images/pinstripe.png') repeat-x !important;
}

.stockItem {
	background: url('../images/pinstripe.png') repeat-x !important;
	height: 1.6em;
}

.stockItemName {
	position: absolute;
	left: 0;
	padding-left: 1em;
	font-weight: bolder;
	font-size: 22px;
}

.stockItemPrice {
	position: absolute;
	right: 5em;
	font-weight: bolder;
	font-size: 22px;
}

.stockItemBtn {
	position: absolute;
	right: 0px;
	width: 3.4em;
	-webkit-border-radius: 5px;
	border: 2px solid darkgrey;
	margin-right: 1em;
	text-align: center;
	font-weight: bold;
	margin-top: -2px;
	height: 1.5em;
	font-size: 22px;
}

#stockInfo {
	color: black;
	background: whitesmoke;
}

.stockInfoLeft {
	position: absolute;
	top: 20px;
	left: 0px;
	color: black;
	margin-left: 30px;
}

h1 {
	color: black;
	text-align: center;
}

.stockInfoItem {
	color: black;
	font-size: 0.8em;
}

.stockInfoItem h1 {
	font-weight: bold;
	font-size: 120%;
}

.stockInfoRight {
	position: absolute;
	top: 20px;
	right: 0px;
	color: black;
	margin-right: 0px;
	width: 160px;
}

#stockNews {
	padding: 0;
}

.stockItem.x-item-selected {
	background: grey !important;
}

.stockNewsItem {
	text-align: left;
	font-size: 70%;
}