/* this is the user stylesheet for Web Stocks */

a.menu-item {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #768395;
    background: -webkit-linear-gradient(top, #fff, #ddd);
}